.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100vw;   
    flex-direction: column;
    background: #f3f6fb;
}

h1{
    font-size: 100px;
}

button{
    background: #000;
    outline: none;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    padding: 12px;
    color: white;
    font-weight: bold;
    width: 10%; 
    cursor: pointer;
}
